click==8.0.1
Flask==2.0.1
importlib-metadata==4.6.3
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.21.1
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
picamera==1.13
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.5.0
